<div class="callout callout-info">
  <h4><i class="fa fa-info-circle"></i> Partida</h4>
  <p>
  	Las partidas se realizan cada 3 minutos y arrojan como resultado 
  	uno de cuatro valores: 'Verde', 'Rojo', 'Negro' y 'Ninguno'.
  </p>
</div>