<div class="callout callout-info">
  <h4><i class="fa fa-info-circle"></i> Title</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium illo, reprehenderit quia ipsum ratione cumque repellendus id maiores sapiente est dolorem, sint consequatur nesciunt. Temporibus rerum facilis natus doloribus eius.</p>
</div>