<div class="callout callout-info">
  <h4><i class="fa fa-info-circle"></i> Jugadores</h4>
  <p>
  	Los jugadores participan en una partida cada 3 minutos y apuestan entre el 
  	8% y el 15% de su saldo. Si hay lluvia pronosticada para los próximos dias
  	apuestan entre el 4% y el 10% de su saldo. Si tienen $1.000 o menos, entonces
  	apuestan todo lo que tienen.
  </p>
</div>

<div class="callout callout-info">
  <h4><i class="fa fa-info-circle"></i> Crear jugador</h4>
  <p>
  	Puedes crear, editar y eliminar jugadores en base a su nombre y saldo.
  </p>
</div>