<div class="callout callout-info">
  <h4><i class="fa fa-info-circle"></i> Pronóstico</h4>
  <p>
  	El pronóstico se obtiene desde una API gratuita llamada 
  	<a href="http://www.myweather2.com">http://www.myweather2.com</a>. 
  	Si bien no es la mejor API, es una de las pocas que entrega 7 dias 
  	de forma gratuita.
  </p>
</div>