
<div class="row">
	<div class="col-md-9">
		
<div class="panel panel-default">
	<div class="panel-heading panel-heading-toolbox">
		<div class="panel-title">
			<%= t(:new, scope: [:helpers, :scaffold]) %>
		</div>
		<div class="panel-toolbar">
			<%= link_to 'Volver', forecasts_path, :class => "btn btn-link" %>
		</div>
	</div>
	<div class="panel-body">
		
		<%= render 'form' %>

	</div>
</div>

	</div>
	<div class="col-md-3">
		
		<%= render "info" %>

	</div>
</div>