$callout-default-bg: #D3D3D3;
$callout-default-border: #A8A4AD;
$callout-border-lg: 7px;
$callout-warning-bg: lighten($brand-warning, 25%);
$callout-warning-border: $brand-warning;
$callout-danger-bg: lighten($brand-danger, 30%);
$callout-danger-border: $brand-danger;
$callout-info-bg: lighten($brand-info, 30%);
$callout-info-border: $brand-info;